<% include partials/header.ejs %>
    <div>
        <% if (message != '') { %>
            <p ><%= message %></p>
        <% } %>
        <form action="" method="post" enctype="multipart/form-data">
            <div>
                <div>
                    <input type="text" name="first_name" id="first-name" placeholder="First Name" required>
                </div>
                <div>
                    <input type="text" name="last_name" id="last-name" placeholder="Last Name" required>
                </div>
                <div>
                    <input type="text" name="username" id="username" placeholder="Username" required>
                </div>
            </div>
            <div>
                <div>
                    <input type="number" name="number" id="number" placeholder="Number" required>
                </div>
                <div>
                    <select id="position" name="position" required>
                        <option selected disabled>Choose position</option>
                        <option>Goalkeeper</option>
                        <option>Centre Back</option>
                        <option>Right Back</option>
                        <option>Left Back</option>
                        <option>Defensive Midfielder</option>
                        <option>Central Midfielder</option>
                        <option>Attacking Midfielder</option>
                        <option>Right Wing Forward</option>
                        <option>Left Wing Forward</option>
                        <option>Striker</option>
                    </select>
                </div>
            </div>
            <button type="submit">Add Player</button>
        </form>
    </div>
</div>
</body>
</html>
